<!--検索結果を表示する-->

{% load static %}
<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
         <!--
        <link rel="stylesheet" type="text/css"
            href = "{% static 'hello/css/style.css' %}" />
        -->
        <link rel = "styleesheet"
        href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         corossorigin="anonymous">

    </head>
    <body class='container'>
        <h1 class = 'display-4 txt-primary'>{{title}}</h1>
        <p>{{message|safe}}</p>
        <form action = "{%url 'find' %}" method="post">
            {% csrf_token %}
            ガジェットのジャンル:
            <select name="find">
                {% for tag in tags %}
                <option value = "{{tag.tagname}}">
                    {{tag.tagname}}
                </option>
                {% endfor %}
            </select>
            デスクのサイズ:
            <select name="desk">
                <option value = "大">大</option>
                <option value = "中">中</option>
                <option value = "小">小</option>
                <option value = "指定無し">指定無し</option>
            </select>
            <p></p>
            <p></p>

                <input type ="submit" value="検索" class = "btn-primary mt-2">

        </form>
        <a href = "/">
            一覧
        </a>
        <div>

            <p width="800" colspan="2" bgcolor="yellow">デスクトップ画像集（参考になるデスクトップを探してみてね）</p>
            {% for item in data %}
            <img src="../../media/{{item.imageid}}.png" width="800">
                {% for url in urls %}
                    {% if url.imageid == item.imageid %}
                        <p>
                            <a href="{{url.url}}">{{url.tagname}}</a>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>
